input {
  padding: .3rem .5rem;
  border: 1px black solid;
  border-radius: .3rem;
}

button {
  padding: .3rem .5rem;
  border: 1px black solid;
  border-radius: .3rem;
}

p.input-error {
  font-size: .7rem;
  color: red;
}